#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
}

#history {
    margin-top: 16px;
}
  
.banner {
    color:#00BFFF;
    font-size: 90px;
    font-family: sans-serif;
}

.attention{
    font-size: small;
    display: flex;
    text-align: left;
    font-weight: bold;
    color: red;
}